
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root {
    --primary-color: #312E81;
    --off-blue: #DBEAFE;
    --dark-purple: #A78BFA;
    --secondary-color: #DC2626;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 1px
}

hr {
    margin: 2rem 1rem;
}

/** spaces **/

.margin-md {
    margin: 2rem;
}

/** container **/
.container {
    padding: 1rem 1rem;
}

.container-center {
    max-width: 700px;
    margin: auto;
}

/** links **/
.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 1rem 0.5rem;
    
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: var(--secondary-color)
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

/** look into BEM naming convention for CSS **/

/** lists **/

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0.3rem 0.5rem;
}

/** navigation **/

.navigation {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.navigation .nav-brand {
    font-weight: bolder;
}

.navigation .nav-pills {
    text-align: justify;
}

.navigation .link {
    color:greenyellow;
}

.navigation .link-active {
    font-weight: bold;
}

/** header **/

.hero {
    padding: 2.5rem;
    padding-top: 4rem;

}

.hero .hero-img {
    max-width: 450px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-purple);
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

/** sections **/

.section {
    padding: 2rem;
}

.section h1 {
    text-align: right;

}

.ow {
    background-color: var(--off-blue);
}

/** footers **/

.footer {
    background-color: var(--primary-color);
    padding: 1.5rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .link {
    color: greenyellow;
}

.footer .footer-header {
    font-weight: bold;
    font-size: x-large;
}

.footer ul {
    padding-inline-start: 0.5px;
}